<p id="notice"><%= notice %></p>

<p>
  <b>Item pemeriksaan:</b>
  <%= @hasil.item_pemeriksaan %>
</p>

<p>
  <b>Hasil pemeriksaan:</b>
  <%= @hasil.hasil_pemeriksaan %>
</p>

<p>
  <b>Satuan:</b>
  <%= @hasil.satuan %>
</p>

<p>
  <b>An echantillon:</b>
  <%= @hasil.an_echantillon %>
</p>

<p>
  <b>Normal pl:</b>
  <%= @hasil.normal_pl %>
</p>

<p>
  <b>Normal ph:</b>
  <%= @hasil.normal_ph %>
</p>

<p>
  <b>Normal ll:</b>
  <%= @hasil.normal_ll %>
</p>

<p>
  <b>Normal lh:</b>
  <%= @hasil.normal_lh %>
</p>

<p>
  <b>Faktor pengali:</b>
  <%= @hasil.faktor_pengali %>
</p>

<p>
  <b>Posisi desimal:</b>
  <%= @hasil.posisi_desimal %>
</p>

<p>
  <b>Pasien:</b>
  <%= @hasil.pasien %>
</p>


<%= link_to 'Edit', edit_hasil_path(@hasil) %> |
<%= link_to 'Back', hasils_path %>
