<p>
<%= link_to 'Kembali ke Daftar Item Lab', lab2s_path, class: "btn", type: "button" %>
</p>

<p>
  <b>Nama Item Pentra:</b>
  <%= @lab2.lab_item_pentra %>
</p>

<p>
  <b>Nama Item Report:</b>
  <%= @lab2.lab_item_report %>
</p>

<p>
  <b>Satuan:</b>
  <%= @lab2.lab_satuan %>
</p>

<p>
  <b>Batas Bawah (Perempuan):</b>
  <%= @lab2.lab_batas_pl %>
</p>

<p>
  <b>Batas Atas (Perempuan):</b>
  <%= @lab2.lab_batas_ph %>
</p>

<p>
  <b>Batas Bawah (Laki-laki):</b>
  <%= @lab2.lab_batas_ll %>
</p>

<p>
  <b>Batas Atas (Laki-laki):</b>
  <%= @lab2.lab_batas_lh %>
</p>

<p>
  <b>Nilai Normal:</b>
  <%= @lab2.lab_nilai_normal %>
</p>

<p>
  <b>Posisi Desimal:</b>
  <%= @lab2.lab_posisi_desimal %>
</p>

<p>
  <b>Item Order:</b>
  <%= @lab2.lab_item_order %>
</p>

<p>
  <b>Harga :</b>
  <%= @lab2.lab_item_harga %>
</p>