<p id="notice"><%= notice %></p>

<p>
  <b>Idpasien:</b>
  <%= @pasien.id_pasien %>
</p>

<p>
  <b>Namapasien:</b>
  <%= @pasien.nama_pasien %>
</p>

<p>
  <b>Pangkatjabatan:</b>
  <%= @pasien.pangkat_jabatan %>
</p>

<p>
  <b>Jeniskelamin:</b>
  <%= @pasien.jenis_kelamin %>
</p>

<p>
  <b>Idsample:</b>
  <%= @pasien.id_sample %>
</p>

<p>
  <b>Tanggal:</b>
  <%= @pasien.tanggal %>
</p>

<p>
  <b>Ruangan:</b>
  <%= @pasien.ruangan %>
</p>

<p>
  <b>Pemeriksa:</b>
  <%= @pasien.pemeriksa %>
</p>

<p>
  <b>Komentar:</b>
  <%= @pasien.komentar %>
</p>

<p>
  <b>Idechantillon:</b>
  <%= @pasien.id_echantillon %>
</p>


<%= link_to 'Edit', edit_pasien_path(@pasien) %> |
<%= link_to 'Back', pasiens_path %>
