<%= simple_form_for(@hasil2) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hsl_echantillon %>
    <%= f.input :hsl_item %>
    <%= f.input :hsl_result %>
    <%= f.input :hsl_batas_bawah %>
    <%= f.input :hsl_batas_atas %>
    <%= f.input :hsl_posisi_desimal %>
    <%= f.input :hsl_id_pasien %>
    <%= f.input :hsl_lab_item_name %>
    <%= f.input :hsl_lab_satuan %>
    <%= f.input :hsl_lab_item_order %>
    <%= f.input :hsl_lab_nilai_normal %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
