<h3>Tambah Item Pemeriksaan</h3>
<% @pasien2.each do |pasien2| %>
  <%= simple_form_for(@hasil2, :url => hasil2s_path(@hasil2, :idpasien2 => pasien2.id ))  do |f| %>
    <%= f.error_notification %>  
    
      <div id="idpasien" data-url="<%= pasien2.id %>"></div>
        <div class="form-inputs">
          <%= f.input :hsl_echantillon, as: :string, input_html: { value: pasien2.id_echantillon.to_s }, label: 'ID Echantillon' %>
          <%= f.input :hsl_item, collection: @lab2, label: 'Nama Item Pentra' %>
          <%= f.input :hsl_result, label: 'Hasil Pemeriksaan' %><div id="result-info"></div>
          <%= f.input :hsl_batas_bawah, label: 'Batas Bawah' %>
          <%= f.input :hsl_batas_atas, label: 'Batas Atas' %>
          <%= f.input :hsl_posisi_desimal, label: 'Posisi Desimal' %>
          <%= f.input :hsl_id_pasien, input_html: { value: pasien2.id_pasien }, label: 'ID Pasien' %>
          <%= f.input :hsl_lab_item_name, label: 'Nama Item Report' %>
          <%= f.input :hsl_lab_satuan, label: 'Satuan' %>
          <%= f.input :hsl_lab_item_order, label: 'Item Order' %>
          <%= f.input :hsl_lab_nilai_normal, label: 'Nilai Normal' %>
          <%= f.input :hsl_lab_harga, label: 'Harga' %>
        </div>      
    <div class="form-actions">
      <%= f.button :submit, "Proses", :class => 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>

<script>
  $(document).ready(function(){
    
    $('#hasil2_hsl_item').change(function() {
      //get txtAmt value  
      var hsl_item = $('#hasil2_hsl_item').val(),
          idPasien = $('#idpasien').data('url')
          ;

      $.ajax({
          url: "/hasil2s/" + idPasien + "/addnew",
          //url: "/hasil2s/addnew.js",
          type: 'GET',
          data: { itemperiksa: hsl_item },
          dataType: 'json',
          success: function (data) {
            $('#hasil2_hsl_lab_satuan').val( data.labsatuan[0] );
            $('#hasil2_hsl_batas_bawah').val( data.labbataspl[0] );
            $('#hasil2_hsl_batas_atas').val( data.labbatasph[0] );
            $('#hasil2_hsl_posisi_desimal').val( data.labposisidesimal[0] );
            $('#hasil2_hsl_lab_item_order').val( data.labitemorder[0] );
            $('#hasil2_hsl_lab_nilai_normal').val( data.labnilainormal[0] );
            $('#hasil2_hsl_lab_harga').val( data.labharga[0] );
            //$("#idpasien").append ( " " + data.d[0].labsatuan );
            
            switch(hsl_item)
            {
            case "HBs Ag":
            case "A-HBs Rapid":
            case "VDRL":
            case "Ig G Anti Dengue":
            case "Ig M Anti Dengue":
            case "ANTI - HIV":
            case "Anti - HBs":
            case "Anti - HCV":
            case "HBsAg (Rapid)":
              $("#result-info").html("<div class='alert alert-success'><ul class='unstyled'>Informasi pengisian<li>1 : NON REAKTIF</li><li>2 : REAKTIF</li></ul></div>");
              break;
            case "Stimulan":
            case "Barbiturat":
            case "Tes Kehamilan":
            case "Amphetamine":
            case "BZO":
            case "COCO":
            case "MET":
            case "MOP":
            case "THC":
            case "OPIAT":
            case "DDR (Malaria) Slide":
              $("#result-info").html("<div class='alert alert-success'><ul class='unstyled'>Informasi pengisian<li>1 : NEGATIF</li><li>2 : POSITIF</li></ul></div>");
              break;
            case "S. TYPHI O":
            case "S. TYPHI H":
            case "S. PARA TYPHI AO":
            case "S. PARA TYPHI BO":
            case "S. PARA TYPHI CO":
            case "S. PARA TYPHI AH":
            case "S. PARA TYPHI BH":
            case "S. PARA TYPHI CH":
              $("#result-info").html("<div class='alert alert-success'><ul class='unstyled'>Informasi pengisian<li>1 : NON REAKTIF</li><li>2 : 1/40</li><li>3 : 1/80</li><li>4 : 1/160</li><li>5 : 1/320</li><li>6 : 1/640</li></ul></div>");
              break;
            case "Keton":
            case "Reduksi":
            case "Protein":
              $("#result-info").html("<div class='alert alert-success'><ul class='unstyled'>Informasi pengisian<li>1 : NEGATIF</li><li>2 : +</li><li>3 : ++</li><li>4 : +++</li><li>5 : ++++</li></ul></div>");
              break;                        
            default:
              $("#result-info").html("<p>Isi dengan angka</p>");
            }
       	  },
          error: function (jqXHR, data) {         
            $("#idpasien").append ( data );
          }
      });

      //change txtInterest% value
      $('#hasil2_hsl_lab_item_name').val(hsl_item);
      //$('#hasil2_hsl_lab_satuan').val(@lab2_item_selected);
    });

  });
</script>


