<%= simple_form_for(@pasien3) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id_pasien %>
    <%= f.input :nama_pasien %>
    <%= f.input :pangkat_jabatan %>
    <%= f.input :jenis_kelamin %>
    <%= f.input :umur %>
    <%= f.input :id_sample %>
    <%= f.input :tanggal %>
    <%= f.input :ruangan %>
    <%= f.input :pemeriksa %>
    <%= f.input :komentar %>
    <%= f.input :id_echantillon %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
