<p id="notice"><%= notice %></p>

<p>
  <b>Id pasien:</b>
  <%= @pasien3.id_pasien %>
</p>

<p>
  <b>Nama pasien:</b>
  <%= @pasien3.nama_pasien %>
</p>

<p>
  <b>Pangkat jabatan:</b>
  <%= @pasien3.pangkat_jabatan %>
</p>

<p>
  <b>Jenis kelamin:</b>
  <%= @pasien3.jenis_kelamin %>
</p>

<p>
  <b>Umur:</b>
  <%= @pasien3.umur %>
</p>

<p>
  <b>Id sample:</b>
  <%= @pasien3.id_sample %>
</p>

<p>
  <b>Tanggal:</b>
  <%= @pasien3.tanggal %>
</p>

<p>
  <b>Ruangan:</b>
  <%= @pasien3.ruangan %>
</p>

<p>
  <b>Pemeriksa:</b>
  <%= @pasien3.pemeriksa %>
</p>

<p>
  <b>Komentar:</b>
  <%= @pasien3.komentar %>
</p>

<p>
  <b>Id echantillon:</b>
  <%= @pasien3.id_echantillon %>
</p>


<%= link_to 'Edit', edit_pasien3_path(@pasien3) %> |
<%= link_to 'Back', pasien3s_path %>
