<p id="notice"><%= notice %></p>

<p>
  <b>Hsl echantillon:</b>
  <%= @hasil3.hsl_echantillon %>
</p>

<p>
  <b>Hsl item:</b>
  <%= @hasil3.hsl_item %>
</p>

<p>
  <b>Hsl result:</b>
  <%= @hasil3.hsl_result %>
</p>

<p>
  <b>Hsl batas bawah:</b>
  <%= @hasil3.hsl_batas_bawah %>
</p>

<p>
  <b>Hsl batas atas:</b>
  <%= @hasil3.hsl_batas_atas %>
</p>

<p>
  <b>Hsl posisi desimal:</b>
  <%= @hasil3.hsl_posisi_desimal %>
</p>

<p>
  <b>Hsl id pasien:</b>
  <%= @hasil3.hsl_id_pasien %>
</p>

<p>
  <b>Hsl lab item name:</b>
  <%= @hasil3.hsl_lab_item_name %>
</p>

<p>
  <b>Hsl lab satuan:</b>
  <%= @hasil3.hsl_lab_satuan %>
</p>

<p>
  <b>Hsl lab item order:</b>
  <%= @hasil3.hsl_lab_item_order %>
</p>

<p>
  <b>Hsl lab nilai normal:</b>
  <%= @hasil3.hsl_lab_nilai_normal %>
</p>


<%= link_to 'Edit', edit_hasil3_path(@hasil3) %> |
<%= link_to 'Back', hasil3s_path %>
